{% extends 'base.html' %}
{% block titulo %} Crear Cuenta {% endblock titulo %}
{% block mensaje1 %} 
<form method="POST" action="{% url 'listo' %}" class="m-2">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar" class="btn btn-primary">
</form>
{% endblock mensaje1 %}
{% block contacto1 %} {% endblock contacto1 %}
{% block iconos %} {% endblock iconos %}
{% block imagen1 %}{% endblock imagen1 %}
{% block encabezado1 %}{% endblock encabezado1 %}
{% block textoencabezado1 %}{% endblock textoencabezado1 %}
{% block imagen2 %}{% endblock imagen2 %}
{% block encabezado2 %}{% endblock encabezado2 %}
{% block textoencabezado2 %}{% endblock textoencabezado2 %}
{% block imagen3 %}{% endblock imagen3 %}
{% block encabezado3 %}{% endblock encabezado3 %}
{% block textoencabezado3 %}{% endblock textoencabezado3 %}
{% block testimonials %} {% endblock testimonials %}
{% block mensaje2 %} {% endblock mensaje2 %}
{% block contacto2 %} {% endblock contacto2 %}

{% load static %}
{% block title %}{% endblock title %}