{% extends 'base.html' %}
<!-- {% block titulo1 %} Inicio {% endblock titulo1 %} -->
<!-- {% block mensaje11 %} Web para facilitar adopción y tránsito de mascotas! {% endblock mensaje11 %} -->
<!-- {% block contacto11 %} {% endblock contacto11 %} -->
<!-- {% block iconos1 %} {% endblock iconos1 %} -->
<!-- {% block imagen11 %} {% endblock imagen11 %} -->
<!-- {% block encabezado11 %} {% endblock encabezado11 %} -->
<!-- {% block textoencabezado11 %} {% endblock textoencabezado11 %} -->
<!-- {% block imagen22 %} {% endblock imagen22 %} -->
<!-- {% block encabezado22 %} {% endblock encabezado22 %} -->
<!-- {% block textoencabezado22 %} {% endblock textoencabezado22 %} -->
<!-- {% block imagen33 %} {% endblock imagen33 %} -->
<!-- {% block encabezado33 %} {% endblock encabezado33 %} -->
<!-- {% block textoencabezado33 %} {% endblock textoencabezado33 %} -->
<!-- {% block testimonials1 %} {% endblock testimonials1 %} -->
<!-- {% block mensaje22 %} {% endblock mensaje22 %} -->
<!-- {% block contacto22 %} {% endblock contacto22 %} -->

{% load static %}

{% block titulo %} AdoptAR - Inicio {% endblock titulo %}
{% block startbootstrap %}<a class="navbar-brand" href="/donar/">Donar</a>{% endblock startbootstrap %}
{% block mensaje1 %} Web para facilitar adopción y tránsito de mascotas! {% endblock mensaje1 %}
{% block contacto1 %}{% endblock contacto1 %}
{% block testimonials %}{% endblock testimonials %}
{% block imagen1 %}<img src="{% static 'C:\Users\Fede\Desktop\Fede\Fede\Programacion\Coderhouse\Python\Pre-entregas\Tercera Pre-entrega\Tercera_Pre-entrega+PENELAS\AdoptAR\AdoptAR_pagina\static\assets\img\imagen_main.jpg' %}" class="img-fluid"> {% endblock imagen1 %}
{% block textoencabezado1 %} Se busca que las mascotas sean recibidas mediante una adopción responsable, se realiza seguimiento a las mascotas recientemente adoptadas. {% endblock textoencabezado1 %}
{% block mensaje2 %} ¿Queres adoptar una mascota, dar una en adopción o darle tránsito a una? ¡Contactanos!{% endblock mensaje2 %}