{% extends 'base.html' %}
{% block titulo %} Inicio {% endblock titulo %}
{% block mensaje1 %} 
  {% if resultados %}
    <ul>
      {% for donante in resultados %}
        <li>
          Nombre: {{ donante.nombre }}<br>
          Apellido: {{ donante.apellido }}<br>
          Edad: {{ donante.edad }}<br>
          Contacto: {{ donante.contacto }}<br>
          Dirección: {{ donante.direccion }}<br>
          Mensaje: {{ donante.mensaje }}<br>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No se encontraron resultados.</p>
  {% endif %}
{% endblock mensaje1 %}

{% block contacto1 %} {% endblock contacto1 %}
{% block iconos %} {% endblock iconos %}
{% block imagen1 %} {% endblock imagen1 %}
{% block encabezado1 %} {% endblock encabezado1 %}
{% block textoencabezado1 %} {% endblock textoencabezado1 %}
{% block imagen2 %} {% endblock imagen2 %}
{% block encabezado2 %} {% endblock encabezado2 %}
{% block textoencabezado2 %} {% endblock textoencabezado2 %}
{% block imagen3 %} {% endblock imagen3 %}
{% block encabezado3 %} {% endblock encabezado3 %}
{% block textoencabezado3 %} {% endblock textoencabezado3 %}
{% block testimonials %} {% endblock testimonials %}
{% block mensaje2 %} {% endblock mensaje2 %}
{% block contacto2 %} {% endblock contacto2 %}