{% extends 'base.html' %}
<!-- {% block titulo1 %} Inicio {% endblock titulo1 %} -->
<!-- {% block mensaje11 %} Web para facilitar adopción y tránsito de mascotas! {% endblock mensaje11 %} -->
<!-- {% block contacto11 %} {% endblock contacto11 %} -->
<!-- {% block iconos1 %} {% endblock iconos1 %} -->
<!-- {% block imagen11 %} {% endblock imagen11 %} -->
<!-- {% block encabezado11 %} {% endblock encabezado11 %} -->
<!-- {% block textoencabezado11 %} {% endblock textoencabezado11 %} -->
<!-- {% block imagen22 %} {% endblock imagen22 %} -->
<!-- {% block encabezado22 %} {% endblock encabezado22 %} -->
<!-- {% block textoencabezado22 %} {% endblock textoencabezado22 %} -->
<!-- {% block imagen33 %} {% endblock imagen33 %} -->
<!-- {% block encabezado33 %} {% endblock encabezado33 %} -->
<!-- {% block textoencabezado33 %} {% endblock textoencabezado33 %} -->
<!-- {% block testimonials1 %} {% endblock testimonials1 %} -->
<!-- {% block mensaje22 %} {% endblock mensaje22 %} -->
<!-- {% block contacto22 %} {% endblock contacto22 %} -->

{% load static %}

{% block titulo %}AdoptAR - Sobre nosotros {% endblock titulo %}
{% block mensaje1 %} <p>Somos una red de proteccionistas - rescatistas de Hurlingham, Provincia de Buenos Aires, Argentina</p>
<p>Llevamos 10 años dedicandonos a esto, y la idea de la web es agilizar las adopciones y poder ubicar a las mascotas con alguien.
<p>Pensamos en también poder conectar otros lugares o países.</p> {% endblock mensaje1 %}</p>
{% block contacto1 %}{% endblock contacto1 %}
{% block iconos %}{% endblock iconos %}
{% block imagen1 %}{% endblock imagen1 %}
{% block encabezado1 %}{% endblock encabezado1 %}
{% block textoencabezado1 %}{% endblock textoencabezado1 %}
{% block imagen2 %}{% endblock imagen2 %}
{% block encabezado2 %}{% endblock encabezado2 %}
{% block textoencabezado2 %}{% endblock textoencabezado2 %}
{% block imagen3 %}{% endblock imagen3 %}
{% block encabezado3 %}{% endblock encabezado3 %}
{% block textoencabezado3 %}{% endblock textoencabezado3 %}
{% block testimonials %}{% endblock testimonials %}
{% block mensaje2 %} <P>SUMATE</p> 
<p>¡Contactanos!</p> {% endblock mensaje2 %}
{% block contacto2 %} <div class="row">
    <div class="col">
        <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Telefono o e-mail" data-sb-validations="required,email" />
        <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div>
        <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div>
    </div>
    <div class="col-auto"><button class="btn btn-primary btn-lg enabled" id="submitButton" type="submit">Enviar</button></div>
</div> {% endblock contacto2 %}