{% extends 'base.html' %}
<!-- {% block titulo1 %} Inicio {% endblock titulo1 %} -->
<!-- {% block mensaje11 %} Web para facilitar adopción y tránsito de mascotas! {% endblock mensaje11 %} -->
<!-- {% block contacto11 %} {% endblock contacto11 %} -->
<!-- {% block iconos1 %} {% endblock iconos1 %} -->
{% block imagen1 %} {% endblock imagen1 %}
{% block encabezado1 %} {% endblock encabezado1 %}
{% block textoencabezado1 %} {% endblock textoencabezado1 %}
{% block imagen2 %} {% endblock imagen2 %}
{% block encabezado2 %} {% endblock encabezado2 %}
{% block textoencabezado2 %} {% endblock textoencabezado2 %}
{% block imagen3 %} {% endblock imagen3 %}
{% block encabezado3 %} {% endblock encabezado3 %}
{% block textoencabezado3 %} {% endblock textoencabezado3 %}
<!-- {% block testimonials1 %} {% endblock testimonials1 %} -->
<!-- {% block mensaje22 %} {% endblock mensaje22 %} -->
<!-- {% block contacto22 %} {% endblock contacto22 %} -->

{% load static %}

{% block titulo %} AdoptAR - Tránsito {% endblock titulo %}
{% block mensaje1 %} Acá se anotan aquellos que se ofrecen como dueños transitorios. {% endblock mensaje1 %}
{% block contacto1 %} {% endblock contacto1 %}
{% block iconos %} {% endblock iconos %}
{% block testimonials %} {% endblock testimonials %}
{% block mensaje2 %} ¿Estás interesado en tener en transito a alguna de las mascotas publicadas? ¡Contactanos! {% endblock mensaje2 %}
{% block contacto2 %} <div class="row">
    <div class="col">
        <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Telefono o e-mail" data-sb-validations="required,email" />
        <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div>
        <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div>
    </div>
    <div class="col-auto"><button class="btn btn-primary btn-lg enabled" id="submitButton" type="submit">Enviar</button></div>
</div> {% endblock contacto2 %}